.head{

  min-height: 51px;
  border-bottom: 1px solid rgb(225, 228, 229);
}

.head  .navbar-default{
  background-color: white;
  border: none;
  /* height: 67px; */
  height: auto;
  margin: 0;
}
 
.logImg{
  height: 100%;
}
.login_box button{
  margin-top: 7px;
  margin-right: 10px;
}
.loginBtn a{
  color: white;
}